body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Cars {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Car {
  margin: 4px;
  padding: 4px;
  border-radius: 3px;
  border-color: darkgray;
  border-style: solid;
  box-shadow: 3px 3px lightgray;
  border-width: 1px;
}

.Car:hover {
  border-width: 2px;
  border-width: 2px;
  box-shadow: 4px 4px lightsteelblue;
}
